<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Current Repairs</title>
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<link rel="stylesheet" type="text/css" href="../styles/table.css">
</head>
<body>
	<nav th:replace="~{fragments::nav}">Navigation</nav>
	<h1 id="duplicate" th:if="${addedRepairIsAlreadyInDatabase}">Serwis jest już wpisany do bazy</h1>
	<div>
		<table>
			<tr>
				<th>IMIĘ I NAZWISKO</th>
				<th>NUMER TELEFONU</th>
				<th>MARKA TELEFONU</th>
				<th>MODEL TELEFONU</th>
				<th>MAX. KWOTA NAPRAWY</th>
				<th>OPIS USTERKI</th>
				<th>STAN TELEFONU</th>
			</tr>
			<tr th:each="repair : ${repairList}">
				<td th:text=${repair.clientName}></td>
				<td th:text=${repair.clientPhoneNumber}></td>
				<td th:text=${repair.phoneBrand}></td>
				<td th:text=${repair.phoneModel}></td>
				<td th:text=${repair.maxRepairAmount}></td>
				<td th:text=${repair.faultDescription}></td>
				<td th:text=${repair.phoneCondition}></td>
			</tr>
		</table>
	</div>
	<script type="text/javascript" src="../javascripts/main.js"></script>
</body>
</html>