<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<style type="text/css">
		table {
			 width: 80%;align-content: center;text-align: center;
		}
	
		table,th,td {
			border:solid gray;border-collapse: collapse;
		}
	</style>
</head>
<body>
	<nav
		style="border-bottom: solid gray; height: 40px; margin-bottom: 30px; display: flex; align-items: center; justify-content: center;">
			<p style="width: 50%; float: left;">naprawagsm.pl</p>
			<div style="float: right; border-left: solid gray;">
				<button>Zarejestruj się</button>
				<button>Zaloguj</button>
			</div>
	</nav>
	<div>
		<table>
			<tr>
				<td>IMIĘ I NAZWISKO</td>
				<td>NUMER TELEFONU</td>
				<td>MARKA TELEFONU</td>
				<td>MODEL TELEFONU</td>
				<td>MAX. KWOTA NAPRAWY</td>
				<td>OPIS USTERKI</td>
				<td>STAN TELEFONU</td>
			</tr>
			<tr>
				<td>Jan Kowalski</td>
				<td>764231453</td>
				<td>Samsung</td>
				<td>A50</td>
				<td>160</td>
				<td>wymiana baterii</td>
				<td>lekkie ślady użytkowania</td>
			</tr>
			<tr>
				<td>Emil Szyszko</td>
				<td>890777659</td>
				<td>Iphone</td>
				<td>Xs</td>
				<td>530</td>
				<td>wymiana LCD</td>
				<td>Rozbity wyświetlacz, rozbity tył telefonu</td>
			</tr>
			<tr>
				<td>Tomasz Rock</td>
				<td>543655787</td>
				<td>Iphone</td>
				<td>6</td>
				<td>180</td>
				<td>wymiana LCD</td>
				<td>Rozbity wyświetlacz, obite górne rogi telefonu</td>
			</tr>
		</table>
	</div>

</body>
</html>