<!DOCTYPE html>
<html  lang="pl" xmlns:th="http://www.thymeleaf.org"
	   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta th:fragment="charset" charset="UTF-8">
<body>
	<nav th:fragment="nav" id="mainNavigation">
		<img alt="telefon" src="../img/phone.png" width="20px" height="30px">&nbsp;
		<p>naprawagsm.pl</p>
		<div id="authenticationButtons">
			<button id="logoutButton" sec:authorize="isAuthenticated()">Wyloguj się</button>
			<button id="registerButton" sec:authorize="!isAuthenticated()">Zarejestruj się</button>
			<button id="loginButton" sec:authorize="!isAuthenticated()">Zaloguj</button>
		</div>
	</nav>
</body>
</html>