<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" >
<title >Insert title here</title>

<link rel="stylesheet" type="text/css" href="../styles/main.css">

</head>
<body >
	<nav th:replace="~{fragments::nav}">Navigation</nav>
	<h1>Logowanie</h1>
	<form th:action="@{/login}" method="post">
		<input id="username" name="username" type="text">
		<input id="password" name="password" type="password">
		<button type="submit">Zaloguj</button>
	</form>
</body>
</html>