<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav th:replace="~{fragments::nav}">Navigation</nav>
<h1>Rejestracja</h1>
	<form th:action="@{/registerSuccess}" method="post">
		<label>
			e-mail: <input type="text" name="username">
		</label>
		<label>
			Hasło: <input type="password" name="password">
		</label>
		<input type="submit" value="Zarejestruj się">
	</form>
	<script type="text/javascript" src="../javascripts/main.js"></script>
</body>
</html>