<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Service Label</title>
	<meta th:replace="~{fragments::charset}">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<link rel="stylesheet" type="text/css" href="../styles/loginRegister.css">
	<link rel="stylesheet" type="text/css" href="../styles/form.css">
</head>
	<body>
		<nav th:replace="~{fragments::nav}">Navigation</nav>
		<form th:action="@{/twojeserwisy}" method="post" th:object="${repair}">
			<div id="formDiv" align="center">
				<h1>Opis usterki:</h1>
					<textarea id="repair description" rows="5" cols="40" name="faultDescription"></textarea><br><br>
					<p th:errors="*{faultDescription}"></p>
				<h1>Marka telefonu:</h1>
					<select id="brand" name="phoneBrand">
						<option>Samsung</option>
						<option>Iphone</option>
						<option>Xiaomi</option>
						<option>Lg</option>
						<option>Huawei</option>
						<option>Sony</option>
						<option>Inne</option>
					</select>
					<input id="model" type="text" name="phoneModel" placeholder="Model telefonu">
					<p th:errors="*{phoneModel}"></p>
					<input id="phone status" type="text" name="phoneCondition" placeholder="Stan telefonu">
					<p th:errors="*{phoneCondition}"></p>
					<input id="max amount" type="number" name="maxRepairAmount" placeholder="Maksymalna kwota naprawy">
					<p th:errors="*{maxRepairAmount}"></p>
					<input id="owner name" type="text" name="clientName" placeholder="Imie Nazwisko">
					<p th:errors="*{clientName}"></p>
					<input id="phone number" type="text" name="clientPhoneNumber" placeholder="Numer telefonu">
					<p th:errors="*{clientPhoneNumber}"></p>
				<div style="margin-top: 30px">
					<button class="formButton" id="formButton">Dodaj i drukuj</button>
				</div>
			</div>
		</form>
		<script type="text/javascript" src="../javascripts/main.js"></script>
	</body>
</html>