<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<body>
		<nav
		style="border-bottom: solid gray; height: 40px; margin-bottom: 30px; display: flex; align-items: center; justify-content: center;">
			<p style="width: 50%; float: left;">naprawagsm.pl</p>
			<div style="float: right; border-left: solid gray;">
				<button>Zarejestruj się</button>
				<button>Zaloguj</button>
			</div>
		</nav>
			
		<form action="twojeserwisy" method="post">
			<div align="center" style="margin-top: 50px">
				<label for="repair description">Opis usterki:</label>
				<textarea id="repair description" name="opisusterki" rows="10" cols="40"></textarea><br><br>
				<label for="brand">Marka telefonu:</label>
				<select id="brand" name="markatelefonu">
					<option>Samsung</option>
					<option>Iphone</option>
					<option>Xiaomi</option>
					<option>Lg</option>
					<option>Huawei</option>
					<option>Sony</option>
					<option>Inne</option>
				</select><br>
				<label for="model">Model telefonu:</label>
				<input id="model" name="modeltelefonu" type="text"><br>
				<label for="phone status">Stan telefonu:</label>
				<input id="phone status" name="stantelefonu" type="text"><br>
				<label for="max amount">Maksymalna kwota naprawy:</label>
				<input id="max amount" name="maxkwotanaprawy" type="text"><br>
				<label for="owner name">Imie Nazwisko:</label>
				<input id="owner name" name="imięinazwisko" type="text"><br>
				<label for="phone number">Numer telefonu:</label>
				<input id="phone number" name="numertelefonu" type="text"><br>
				<div style="margin-top: 30px">
					<button>Dodaj i drukuj</button>
				</div>
			</div>
		</form>
		
	</body>
</html>